/* //Styline for components begins from here */
:root {
  --primary-bg-color: #0a192f; /*Dary Navy for BGC */
  --secondary-bg-color: #1f4068; /*Darker blur for BGC of containers */
  --primary-text-color: #f4f4f4; /*Light Gray Body text, paragraph */
  --secondary-text-color: #8892b0; /*soft blur Gray dates, captions */
  --heading-text-color: #50e3c2; /*for Hewading , title, progress bar */
  --success-color: #4caf50; /* Green For success yeh! */
  --error-color: #4caf50; /* Red For warning */
  --button--icon-hightlight-color: #e43f5a; /*Bright red for Buttons, icons, highlights. */
  --hover-bg: #ff6f61; /*Coral for Hover effects, secondary buttons, animations.s */
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
header {
  background-color: var(--secondary-bg-color);
}
.person-cards {
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 20vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.person-name {
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  min-width: 350px;
  border: 1px solid var(--button--icon-hightlight-color);
  max-height: 250px;
  background-color: var(--secondary-bg-color);
  height: fit-content;
  padding: 20px 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.4s ease;
}
.person-name:hover {
  transform: scale(1.0576);
  border: 2px solid var(--heading-text-color);
}
